
body {
	font-size: 20px;
	padding: 60px;
}
.nav {
	width: 15%;
	float:left;
	height:300px;
	padding: 10px;
	position: fixed;
	background-color: #fff5e7;
	font-size: 20px;
	border: 3px dashed black;
}
.nav ul {
	list-style-type: none;
	line-height: 30px;
}



.mainContentArea {
	padding: 10px;
	width: 50%;
	left:20%;
	float:left;
	height:300px;
	position: fixed;
	background-color: #fff5e7;
	font-size: 20px;
	border: 3px dashed black;
}

.userInfoBox {
	padding: 10px;
	border: 3px dashed black;
	width: 56%;
	float: right;
}