doctype html(lang='en')
head
	meta(charset='UTF-8')
	| &#x9;
	title React Demo
	| &#x9;
	script(src='//localhost:35729/livereload.js')
	| &#x9;
	link(rel='stylesheet', href='/style.css')
body
	h1 React.js nested routing using page.js
	| &#x9;
	#content
	| &#x9;
	script(src='/dist/app.js')
